<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Krafs.Publicizer" version="2.2.1" targetFramework="net48" developmentDependency="true" />
  <package id="Krafs.Rimworld.Ref" version="1.5.4297" targetFramework="net472" />
  <package id="Lib.Harmony" version="2.3.3" targetFramework="net48" />
</packages>